* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 250px;
  width: 20%;
  padding: 0 40px;
  margin: 15px;
}

button {
  background: #16a085;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 10px 55px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

div li button {
  margin: 25px 0;
  background: #c0392b;
}

button:hover {
  background-color: black;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

p {
  width: 148px;
}
